<div class="all-but-footer">
  <div class="header">
    <div class="title">
      <h1>
        {{#linkTo "index"}}
        Ultimate Tic Tac Toe online
        {{/linkTo}}
      </h1>
      <div class="header-cloud"></div>
    </div>
  </div>

  {{outlet}}
</div>

<footer>
<a href="http://geekingfrog.com">
  <h3>Made by a geekingfrog</h3>
</a>

<a href="https://github.com/geekingfrog/ultimateTTT">
  <i class="icon-2x icon-github"></i>
</a>
</footer>
