<div class="chatroom">
  <ul>
    {{#each msg in msgList}}
    <li>{{msg}}</li>
    {{/each}}
  </ul>

</div>
<form {{ action postMsg on="submit" }}>
  <div class="row collapse">
    <div class="small-3 columns">
      <input type="submit" class="button prefix" value="post"/>
    </div>
    <div class="small-9 columns">
      {{ input type=text value=msg }}
    </div>
  </div>
</form>


