<div class="small-6 columns">
  <div>
    {{#if board.wonBy}}
      {{#if isWonByX}}
        <h1><i class="icon-remove"></i> has won !</h1>
      {{/if}}
      {{#if isWonByO}}
        <h1><i class="icon-circle-blank"></i> has won !</h1>
      {{/if}}
    {{else}}
      {{#if currentX}}
        <h1><i class="icon-remove"></i>'s turn</h1>
      {{/if}}
      {{#if currentO}}
        <h1><i class="icon-circle-blank"></i>'s turn</h1>
      {{/if}}
    {{/if}}

  </div>

  {{ render game }}

</div>
