<div class="col-1-1">
  Welcome to Ultimate TicTacToe online !
  <p>
  If you don t know how to play the ultimate tic tac toe,
  <a href="http://mathwithbaddrawings.com/2013/06/16/ultimate-tic-tac-toe/">here are the rules</a> (with some nice drawings ^^)
  </p>
</div>

<div class="col-1-2">
  {{#linkTo "hotseat"}}
  Hot seat, play with your friend (or worse enemy) on the same computer.
  {{/linkTo}}
</div>

<div class="col-1-2">
  <p>
    Multiplayer. Bring the power of the internet to challenge people all over the world.
  </p>
  <br />
  <form {{ action connect on="submit" }}>
    {{ view App.ValidatedTextField
    valueBinding=username
    invalidConditionBinding=isUsernameInvalid
    name=username
    placeholder=username
    }}
    {{#unless isUsernameInvalid}}
      <input type="submit" class="button" value="Connect" />
    {{/unless}}
  </form>
</div>
