<div class="small-12 columns">
  Welcome to Ultimate TicTacToe online !
  <p>
  If you don t know how to play the ultimate tic tac toe,
  <a href="http://mathwithbaddrawings.com/2013/06/16/ultimate-tic-tac-toe/">here are the rules</a> (with some nice drawings ^^)
  </p>
</div>

<div class="small-6 columns">
  {{#linkTo "hotseat"}}
  Hot seat, play with your friend (or worse enemy) on the same computer.
  {{/linkTo}}
</div>

<div class="small-6 columns">
  <p>
    Multiplayer. Bring the power of the internet to challenge people all over the world.
  </p>
  <br />

  {{ view App.ConnectView usernameBinding=username}}

</div>
