{{#if clicked}}
  Are you sure ?
  <div class="small button" {{ action "cancelSurrender" }}>
    Never!
  </div>
  <div class="small button alert" {{ action "confirmSurrender" }}>
    Surrender...
  </div>
{{else}}
  <div class="button small" {{ action "surrender"}}>
    Surrender
  </div>
{{/if}}

